#Database
DB_NAME=mira_db
DB_USERNAME=mira
DB_PASSWORD=mira_dev_password
DB_PORT=5432
DB_HOST_PORT=5432
DB_VOLUME_NAME=mira-db-data

#Backend
BACKEND_LOGS_VOLUME_NAME=mira-backend-logs
LOGS_DIR=/app/logs
LOG_FILE_NAME=mira.log
